@import '../scss/variables';

.root {
	display: flex;
	a {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border: 1px solid $orange;
		border-radius: 50%;
		margin-right: 10px;
		cursor: pointer;
		transition: all 0.15s ease-in-out;
		color: $orange;

		&:hover {
			background-color: $orange;
			color: #fff;
			svg {
				path {
					stroke: #fff;
				}
			}
		}
	}
	:global {
		.selected {
			a {
				background-color: $orange;
				color: #fff;
			}
		}
	}
}
